@import '../../app//scss/variables';
$primary: rgb(162, 107, 214);
.block {
}
.form_wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(10px);

	.form {
		position: absolute;
		padding: 1.5rem;
		border-radius: 12px;
		background-color: white;
		box-shadow: 1px 2px 8px rgba(223, 56, 215, 0.5);

		.control {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.tooltip {
				color: rgb(193, 178, 178);
				font-size: 0.9rem;
				margin-bottom: 1.2rem;
			}
		}
		.input {
			padding: 0.4rem 2.85rem;
			border: none;
			box-shadow: 1px 2px 8px rgba(223, 56, 215, 0.5);
			margin-bottom: 0.3rem;

			&::placeholder {
				color: transparent;
			}
		}

		.namesBlock {
			margin: 0.2rem;
			padding: 0.3rem;
			width: 100%;
			border: 1px solid black;
			border-radius: 4px;

			.namesUl {
				display: flex;
				flex-direction: column;
				align-items: center;

				.namesLi {
					background-color: aliceblue;
					text-align: center;
					cursor: pointer;
					width: 100%;
					border-bottom: 1px solid rgb(134, 117, 117);
					transition: background-color 0.5s ease-in-out;
					margin-bottom: 0.4rem;

					&:hover {
						background-color: rgb(175, 185, 236);
					}
				}
			}
		}
	}
}
.form_wrapper.active {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	.form {
		position: absolute;
		padding: 1.5rem;
		border-radius: 12px;
		background-color: white;
		box-shadow: 1px 2px 8px rgba(223, 56, 215, 0.5);
	}
}
