$block: rgb(248, 221, 246);
.list {
	padding: 20px;
	display: flex;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.empty {
	text-align: center;
	margin: 1.3rem;
}
