@import '../../app/scss/_variables';
.link {
	text-decoration: none;
	color: black;
	border-radius: 12px;
	padding: 4px 8px;
	cursor: pointer;
	font-weight: 500;
	background-color: white;
	transition: background-color 0.4s ease-in-out;
	box-shadow: 1px 2px 8px rgba(223, 56, 215, 0.5);

	&:hover {
		background-color: $backgroundBlock;
		box-shadow: 1px 2px 30px #df38d74d;
	}
}
